@import './variables.scss';
@import './mixin.scss';
@import './sidebar.scss';


body {
  //min-height: 600px;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearFix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 10px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content {
  background: rgba(66, 185, 131, .1);
  border-radius: 2px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a {
    color: #42b983;
    font-weight: 600;
  }
}
.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

//table缩小高度
.el-table td, .el-table th {
  padding: 0px;
}


//缩小表单间隔
.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
  margin-bottom: 15px;
}

//双行label样式
.double-line-label label {
  line-height: 1em !important;
}

//多行header样式,无需引用，覆盖<el-table>样式
.el-table__header .caret-wrapper {
  height: 20px;
  float: right;
}
//修正表格header中排序箭头位置
.caret-wrapper .ascending{
  top:0 !important;
}
.caret-wrapper .descending{
  top:12px !important;
}

//table表格头行高
.el-table__header th .cell {
  line-height: 1.5em;
}

//table表格内容行高
.el-table td div {
  line-height: 3em;
  padding-left: 5px !important;
  padding-right: 2px !important;
}

.el-icon-caret-top {
  margin-top: -10px;
  top: 0;
  bottom: 0;
}

.el-icon-caret-bottom {
  margin-top: -10px;
  top: 12px;
  bottom: 0;
}

//.animate div {
//  transition: 300ms ease width
//}

//百度地图左下文字
.BMap_cpyCtrl {
  display: none;
}
//百度地图logo-平移至屏幕外遮挡
.anchorBL {
  margin-left: -78px;
}
//百度地图logo-隐藏
.anchorBL img {
  //display: none;
}

//弹窗窗体边距
.el-dialog__body {
  padding: 10px 20px 10px 20px !important;
}

.main-page {
  //padding-left :5px
}
//上传控件样式
.el-upload-dragger{
  width:100% !important;
  height:150px !important;
}
.el-upload  {
  width:100% !important;
  //min-width: 184px;
}
//弹窗距离顶部距离
.el-dialog{
  margin-top: 10vh !important;
}
//表格表头行高
.grid-tool-bar{
  height:30px;
  margin:5px;
}
